@page "/Partidas/Create"

@using RegistrosJugadores.Models
@inject JugadoresServices jugadoresservices
@inject PartidasService partidasservices
@inject NavigationManager navigationManager
@rendermode InteractiveServer

@*HTML*@
<PageTitle>Crear partida</PageTitle>
<EditForm Model="partidas" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="container">
        @if (Mensaje != null)
        {
            @Mensaje
        }
        <div class="card shadow-lg">
            <div class="card-header text-center">
                <h5 class="card-title">Nueva partida</h5>
            </div>
            <div class="card-body">

                @*Jugador 1*@
                <div class="mb-3">
                    <label class="form-label"> <strong>Jugador 1</strong></label>
                    <InputSelect class="form-select" @bind-Value="partidas.Jugador1Id">
                        <option value="">Seleccione un jugador</option>
                        @foreach (var jugador in ListaJugadores)
                        {
                            <option value="@jugador.JugadorId">@jugador.Nombre</option>
                        }
                    </InputSelect>
                </div>

                @*Jugador 2*@
                <div class="mb-3">
                    <label class="form-label"> <strong>Jugador 2</strong></label>
                    <InputSelect class="form-select" @bind-Value="partidas.Jugador2Id">
                        <option value="">Seleccione un jugador</option>
                        @foreach (var jugador in ListaJugadores)
                        {
                            <option value="@jugador.JugadorId">@jugador.Nombre</option>
                        }
                    </InputSelect>
                </div>

                @*Ganador*@
                <div class="mb-3">
                    <label class="form-label"> <strong>Ganador</strong></label>
                    <InputSelect class="form-select" @bind-Value="partidas.GanadorId">
                        <option value="">Seleccione un ganador</option>
                        @foreach (var jugador in ListaJugadores)
                        {
                            <option value="@jugador.JugadorId">@jugador.Nombre</option>
                        }
                    </InputSelect>
                </div>

                @*PartidaEstado*@
                <div class="mb-3">
                    <label class="form-label"> <strong>Estado de la partida</strong></label>
                    <InputSelect class="form-select" @bind-Value="partidas.EstadoPartida">
                        <option value="">Seleccione un estado</option>
                        <option value="Pendiente">Pendiente</option>
                        <option value="En curso">En curso</option>
                        <option value="Finalizada">Finalizada</option>
                    </InputSelect>
                </div>

                @*EstadoTablero*@
                <div class="mb-3">
                    <label class="form-label"><strong>Estado del tablero</strong></label>
                    <InputText class="form-control" @bind-Value="partidas.EstadoTablero" />
                </div>

                @*Fecha Inicio*@
                <div class="mb-3">
                    <label class="form-label"><strong>Fecha de inicio</strong></label>
                    <InputDate class="form-control" @bind-Value="partidas.FechaInicio" />
                </div>

                @*Fecha Fin*@
                <div class="mb-3">
                    <label class="form-label"><strong>Fecha de fin</strong></label>
                    <InputDate class="form-control" @bind-Value="partidas.FechaFin" />
                </div>

            </div>
            @*footer*@
            <div class="card-footer text-center mt-2">
                <a href="/Partidas/Index" class="btn btn-secondary"> <span class="bi bi-arrow-left"></span> Volver</a>
                <button type="submit" class="btn btn-primary bi bi-floppy">Guardar</button>
            </div>
        </div>

    </div>

</EditForm>

@code {
    public Partidas partidas { get; set; } = new();
    public List<Jugadores> ListaJugadores { get; set; } = new();
    public String Mensaje { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        ListaJugadores = await jugadoresservices.Listar(J => true);

        partidas.EstadoPartida = "Pendiente";
        partidas.EstadoTablero = "-----------";
        partidas.FechaInicio = DateTime.Now;
    }

    public async Task Guardar()
    {
        try
        {
            var creado = await partidasservices.Guardar(partidas);

            if (creado)
            {
                navigationManager.NavigateTo("/Partidas/Index");

            }
            else
            {
                Mensaje = "No se pudo guardar correctamente";

            }
        }
        catch (Exception ex)
        {
            Mensaje = $"Error al guardar: {ex.Message}";
        }
    }
}