@page "/Partidas/Index"
@using Microsoft.Data.SqlClient
@using Microsoft.EntityFrameworkCore
@inject PartidasService partidasServices
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Registro de partidas</PageTitle>
<div class="container">
    <div class="card shadow-lg">
        <div class="card shadow-lg">
            <div class="card-header space-between">
                <h5 class="card-title">Registro de partidas</h5>
                <a href="/Partidas/Create" class="btn btn-primary"> <span class="bi bi-plus-square-fill-nav-menu mt-3"></span> Crear</a>
            </div>
            <div class="card-body">

                @*labels*@
                <div class="row">

                    @*Filtrar por*@
                    <div class="col-3">
                        <label class="col-form-label"><strong>Filtrar por</strong></label>
                    </div>

                    @*ValorFiltro*@
                    <div class="col-4">
                        <label class="col-form-label"><strong>B&uacute;squeda</strong></label>
                    </div>
                </div>

                @*Inputs y botones*@
                <div class="row align-items-center">
                    @*filtro*@
                    <div class="col-3">
                        <InputSelect class="form-select" @bind-Value="Filtro">
                            <option value="" selected disabled>Elija una opci&oacute;n</option>
                            <option value="ID">ID</option>
                            <option value="Estado">Estado</option>
                        </InputSelect>
                    </div>

                    @*Busqueda*@
                    <div class="col-4">
                        <div class="input-group">
                            <input class="form-control" @bind="ValorFiltro" placeholder="Buscar" />
                            <button type="button" class="btn btn-outline-primary bi bi-search" @onclick="Buscar"></button>
                        </div>
                    </div>
                </div>
                <table class="table table-hover">

                    <thead class="table  table-striped text-black">

                        <tr>
                            <th>PartidaId</th>
                            <th>Jugador 1</th>
                            <th>Jugador 2</th>
                            <th>Estado</th>
                            <th>Ganador</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Fin</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var partida in ListaPartidas)
                        {
                            <tr>
                                <td>@partida.PartidaId</td>
                                <td>@partida.Jugador1?.Nombre</td>
                                <td>@partida.Jugador2?.Nombre</td>
                                <td>@partida.EstadoPartida</td>
                                <td>@partida.Ganador?.Nombre</td>
                                <td>@partida.FechaInicio.ToString("dd/mm/yyyy")</td>
                                <td>@partida.FechaFin?.ToString("dd/MM/yyyy HH:mm")</td>
                                <td class="text-center">
                                    <a href="/Partidas/Editar/@partida.PartidaId" class="btn btn-outline-primary bi bi-pencil-square"></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer space-between">
                <label>Cantidad de partidas:  @ListaPartidas.Count()</label>
            </div>
        </div>
    </div>
</div>

@code {
    public List<Partidas> ListaPartidas { get; set; } = new List<Partidas>();

    public string Filtro { get; set; } = string.Empty;
    public string ValorFiltro { get; set; } = string.Empty;
    public string Mensaje { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        ListaPartidas = await partidasServices.Listar(P => true);
    }

    private async Task Buscar()
    {
        try
        {
            if (ValorFiltro.Trim() != "")
            {

                if (Filtro == "ID")
                {
                    int id = (Convert.ToInt32(ValorFiltro));
                    ListaPartidas = await partidasServices.Listar(P => P.PartidaId == id);
                }
                else if (Filtro == "Estado")
                {
                    String estado = ValorFiltro;
                    ListaPartidas = await partidasServices.Listar(P => P.EstadoPartida == estado);
                }
            }

        }
        catch (Exception ex)
        {
            Mensaje = $"Error al guardar: {ex.Message}";
        }
    }
}
